.divTableCellOrders {
	border-bottom: 1px solid #bbb;
	display: table-cell;
	text-align: left;
	padding: 3px 10px;
}

.fluid-box-shadow-small-well {
	-webkit-background-clip: padding-box;
		  background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
		  box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
}

.fluid-user-font {
	font-size: 100px !important;
}

@media (max-width: 767px) {
	.fluid-user-font {
		font-size: 50px !important;
	}
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

@media (max-width: 767px) {
	.profile-userpic {
		display: inline-block;
	}
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
	.profile-usertitle {
		display: inline-block;
		margin-top: 5px;
	}
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
@media (max-width: 767px) {
	.profile-usermenu {
	  margin-top: 0px !important;
	  padding-top: 0px !important;
	}
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.fluid-account-box-special {
	padding: 20px;
}

@media (max-width: 767px) {
	.fluid-account-box-special {
	}
}

@media (max-width: 366px) {
	.fluid-account-box-special {
		padding: 8px;
	}
}

.f-delete-hide {
	display: inline-block;
}

@media (max-width: 366px) {
	.f-delete-hide {
		display: none;
	}
}

/* Profile Content */
.profile-content {
  /* padding: 20px; */
  background: #fff;
  /* min-height: 460px; */
}

@media (max-width: 767px) {
	.fluid-profile-content-padding {
		margin-top: 10px !important;
		padding: 0px !important;
	}
}


/* Fluid account settings form */
.fluid-settings-form {
	margin: auto;'
}

@media(min-width:768px){
	.fluid-settings-form {
		width: 60%;
	}
}
