/********************************************************************************************/
/* footer */
.footer {
    background-color: #333333;
    color: white;
    text-align: left;
    padding-top: 40px;
    z-index: 2700;
}
#footer-content-container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
.footer span {
    padding-right: 10px;
}
.footer h4 {
    margin-top: 50px;
}
.footer a, .footer p, .footer .glyphicon {
    display: block;
    margin-top: 20px;
    color: grey;
}
.footer-copyright {
    height: 100px;
    padding: 30px 0 0 0;
    text-align: center;
}

@media (min-width: 768px) {
	.footer-copyright {
		height: 100px;
		padding: 35px 0 30px 0;
		text-align: center;
	}
}

#footer-contact-us a {
    margin-top: 10px;
}
#footer-social-media a {
    display: inline;
}
.footer-social-media-icon {
    max-width: 50px;
    max-height: 48px;
    margin-top: 20px;   
}
.newsletter-input-group {
    width: 100%;
    margin: auto;
}
.newsletter-input {
    max-width: 65%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    background-color: #171717;
    border: 0;
}
.newsletter-button {
    width: 34%;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: black;
    background-color: yellow;
    border: 0;
}

@media (max-width: 991px) {
	.footer {
		text-align: center;
	}
	#footer-contact-us a {
		margin-top: auto;
	}
	#footer-contact-us p{
		margin-top: 5px;
	}
	.footer .glyphicon {
		margin-top: 30px;
	}
	.footer-social-media-icon {
		max-width: 90px;
		max-height: 86px;
		margin-top: 30px;
	}
	.newsletter-input-group {
		max-width: 300px;
	}
}
